<template name="about2">
  <div class="page about">
    {{> nav title='硅谷动态' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about2">
          <img src="img/app/westlake-vc.png" alt="Go Local"/>
        </h1>
      </div>
      
      <div class="description-about">

        <p>
        2 杭州美国硅谷孵化器功能定位于杭州市在海外培育高科技创业项目的平台，杭州市招引海外高层次人才的平台，在杭企业研发定制、外包的海外服务基地和在杭企业转型升级引智引技的海外窗口，是杭州市政府部署和赛伯乐的重大合作项目。
        </p>
        <p>
        赛伯乐总裁陈斌受杭州市政府委托，专程赴美国落实孵化器的前期建设工作，在与《创业家》传媒在美国加州硅谷著名孵化器Plug and Play Tech Center举办的首次中美黑马大赛上，赛伯乐宣布杭州美国孵化器正式成立，向现场众多优秀海归创业精英介绍孵化器的核心内容，颁发杭州硅谷孵化器创业导师证书，同时向在场的几十位投资专家推荐市场化合作机制，与中美创业家黑马PK大赛参会代表和机构共同见证了杭州美国硅谷孵化器正式成立。
        </p>
        <p>赛伯乐依托强大的国际化资源与背景，在硅谷设立West Lake Venture (西湖风投），帮助政府和企业寻找具有强大整合平台价值的高科技企业，致力于培育全球领先的新兴产业领跑者。
        </p>

      </div>
      
      <br><br>
      <a class="description-about" href="#">
          <span class="attribution">
            <span class="title-recipe">页面还在制作中</span>
            <span class="metadata-recipe">
              <span class="author-recipe">敬请期待</span>
            </span>
          </span>
      </a>      

    </div>
    <a href="http://www.cybernaut.com.cn/" class="btn-primary js-open" target="_blank">了解更多</a>
  </div>
</template>